@import 'header';
@import 'section';
@import 'footer';
body
{
    font-family:'Lato', arial, sans-serif;
    color:#444;
    height:100%;
} 
@media only screen and (max-width: 500px) {
    .menu {
        text-align:left;
        width:100%;
        display: none;
        a {
            display:block;
            width:100%;
            margin: auto auto auto 20px;
            text-align:left;
        }
    }
    .parent-taggle
    {
    margin-left:auto;
    margin-right: 20px;
    margin-top:auto;
    label {
        display: inline;
        cursor: pointer;
          }
    }
    .continer
    {
    margin-top:auto;
    margin-left: 20px;
    margin-bottom:auto;
    }
    #toggle:checked + * .menu {
        display: flex;
      flex-direction: column;
    }
    #toggle:checked + * .label-toggle
    {
     border:2px solid #87CEEB;
    }
    header{
        box-shadow: 0 0 4px rgba(0,0,0,0.4);
    }
    .continer-cards
    {
     flex-direction: column;
    }
    .item-cards
    {
    margin:auto;
    }
    .paragraph-contact
    {
        max-width: 100%;
    }
    #name,#email
    {
        width:95%;
    }
    #text-message{
        width: 95%;
    }
}